<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914316582274-s0tn7ldrbps9hofdv59cje4cf1rcgb14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914316582274-s0tn7ldrbps9hofdv59cje4cf1rcgb14</string>
	<key>API_KEY</key>
	<string>AIzaSyCG3Uxe_g22-qsnh6hzQ0Lz7jTNnB4syes</string>
	<key>GCM_SENDER_ID</key>
	<string>914316582274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fit.scoop.chat</string>
	<key>PROJECT_ID</key>
	<string>scoop-messaging</string>
	<key>STORAGE_BUCKET</key>
	<string>scoop-messaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:914316582274:ios:0c1c77d73938323e43839b</string>
</dict>
</plist>
